<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="org.crsh.spring.SpringBootstrap">
    <property name="cmdMountPointConfig" value="classpath:/crash/commands/"/>
    <property name="confMountPointConfig" value="classpath:/crash/"/>
    <property name="config">
      <props>
        <prop key="crash.telnet.port">4000</prop>
      </props>
    </property>
	</bean>

  <bean id="foo" class="org.crsh.spring.Foo">
  </bean>

</beans>
